.content {
    padding-left: 10%;
    padding-right: 10%;
    color: #373737;
}

.contenido {
    background-image: url("/assets/images/fondo.png");
    background-position: center center;
    background-repeat: repeat;
    background-size: cover;
}

.h {
    text-align: center;
    color: #373737;
}

#b {
    text-align: center;
}

.u {
    text-align: center;
    color: #ff0000df;
}

.lin {
    border-bottom: solid 1px #0000003f;
}

.logoLog {
    padding-top: 16px;
}