<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Blank
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Blank</ion-title>
        </ion-toolbar>
    </ion-header>

    <div class="contenido">
        <div #Logo><img class="logoLog" src="../assets/images/logo.png" /></div>
        
        <h1 class="titulo">BIENVENID@:</h1>
        <h2 class="nombre">{{usuario}}</h2>
        <ion-card class="cartas"><img class="logoLog" src="../assets/images/logo.png" />
            <h3 class="comenzar">Comenzar viaje</h3>
        </ion-card>
    </div>

</ion-content>