<ion-header>
    <ion-toolbar>
        <ion-title>Viajar</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
   

    <div class="contenido">
        
        <div #Logo><img class="logoLog" src="../assets/images/logo.png" /></div>
       
        <div class="post" *ngFor="let post2 of arrayPosts2">
            <h2>{{post2.patente}}</h2>
            <p>{{post2.marca}}</p>
            <p>{{post2.modelo}}</p>
            <p>{{post2.molor}}</p>
            <p>{{post2.hora}}</p>
            <p>{{post2.destino}}</p>
            <p>Puestos disponibles: {{post2.puestos}}</p>
            <ion-button fill="nofill" color="dark" (click)="eliminar(post2.id)">
                <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
            <ion-button fill="nofill" color="dark" (click)="updatePosts(post2.id)">
                <ion-icon name="person-add-outline"></ion-icon>
            </ion-button>
        </div>
    </div>

   
</ion-content>